@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  background: #82aff3;
  font-family: 'Montserrat', sans-serif;
}
.main {
  background: #dde1e7;
  width: 320px;
  height: 550px;
  border-radius: .5em;
  box-shadow: -3px -3px 7px #6f53ee73,
              2px 2px 5px rgba(8, 23, 48, 0.288);
  margin: 0 auto;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.main .result {
  width: 100%;
  height: 150px;
  box-shadow: inset 2px 2px 5px #869be7,
              inset -5px -5px 10px #a9b0f173;
  
}
.main .result p {
  font-size: 40pt;
  overflow-y: auto;
  text-align: right;

}

.main .buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}
.main .buttons .button, .main .buttons .num-button  {
  cursor: grab;
  text-align: center;
  width: 60px;
  font-size:18px;
  height: 60px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  box-shadow: 2px 2px 5px #8099f1,
              -5px -5px 10px #acaddf73;
}
.button:hover{
  color: #110dda;

 
}
.main .buttons .no0 {
  grid-column: 1/ 3;
  width: 100%;
  font-size:18px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #e67ad4,
              -5px -5px 10px #f18fe973;
}
.action-btn {
  color: grey;
  font-weight: bold;
}
.action-btn-equations{
  color: #ff0000;
  font-size: 20px;
  font-weight: bold;
}